body {
    background-color: black;
}

.container {
    margin: 0 auto;
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    /* text-align: center; */
    font-size: 2.8em;
    color: yellow;
    display: flex;
    justify-content: center;
    /* position: relative; */
}

.captions {
    position: absolute;
    display: flex;
    justify-content: center;
    top: -25vh;
    height: 102vh;
    width: 50vw;
    overflow: hidden;
    line-height: 0.9;
    transform: perspective(500px)rotateX(60deg);
}

.perspstory {
	position: absolute;
	animation-name: captions;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform: scale(.6, 1);
}

.episodename {
	margin-top: 8vh;
}

.story {
	margin-top: 18vh;
	text-align: justify;
	transform: scale(.6, 1);
}

@keyframes captions {
    from {
        top: 90vh;
    }

    to {
        top: 0vh;
    }
}